name: Validate

# the cron job is helpful to know if upcoming changes in Home Assistant will
# break something

on:
  push:
  pull_request:
  # schedule:
  #  - cron: "0 0 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  validate-hacs:
    runs-on: "ubuntu-latest"
    steps:
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"

  validate-hassfest:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: home-assistant/actions/hassfest@master
